body, html {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    font-size: 0.95em;
    text-align: center;
}

svg {
    background-color: #F5F2EB;
    border: 1px solid #CCC;
}

.bar-container {
	shape-rendering: crispEdges;
}

.bar-text {
    text-anchor: middle;
}

.heading {
    font-weight: 400;
    letter-spacing: 2px;
    font-family: fantasy;
}

.label {
	font-weight: bold;
}
